{% extends 'admin/index.html.twig' %}

{% block body %}
    <div class="addDeliveryMethod">
        <form method="POST" action="{{ path('add_delivery_method') }}">
            <div class="newDeliveryMethod" id="newDeliveryMethod">
                <div class="delivery" id="delivery0">
                    <button id="addPackageMethod" value="0" type="button">Dodaj metodę pakowania</button><br>
                    Wykonawca dostawy: <input name="deliveryMethod[0][name]" type="text" required/>

                    <div id="package0id0">
                        Metoda pakowania: <input name="deliveryMethod[0][0][method]" required/>
                        Cena: <input name="deliveryMethod[0][0][price]" required/>
                    </div>

                </div>

            </div>
            <br>
            <button id="addDeliveryMethod" type="button">Dodaj dostawcę</button>
            <button type="submit">Dalej</button>
        </form>

        <div id="test"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $("#addDeliveryMethod").click(function () {
            addDeliveryMethod();
            return false;
            });
            $("#addPackageMethod").click(function () {
                addPackageMethod(this.value);
                return false;
            });
            $('.newDeliveryMethod').on("click", "#addPackageMethod", function (event) {
                event.preventDefault();
                addPackageMethod(this.value);
            });

            $('.newDeliveryMethod').on("click", "#deletePackage", function (event) {
                event.preventDefault();
                deletePackage(this.value);
            });

            $('.newDeliveryMethod').on("click", "#deleteDelivery", function (event) {
                event.preventDefault();
                deleteDelivery(this.value);
            });
        });

        var i = 1;

        function addDeliveryMethod(){
            var div = document.createElement("div");
            div.setAttribute("id","delivery"+i);
            div.setAttribute("class","delivery");
            div.innerHTML = "<button id='addPackageMethod' value='"+ i +"' type='button'>Dodaj metodę pakowania</button>"+
                "<button id='deleteDelivery' value='delivery"+i+"' type='button'>Usuń dostawcę</button><br>" +
                "Wykonawca dostawy: <input name='deliveryMethod["+ i +"][name]' type='text' required/>" +
                "\n" +
                "<div id='package'>\n" +
                "    Metoda pakowania: <input name='deliveryMethod["+ i +"][0][method]' required/>" +
                "    Cena: <input name='deliveryMethod["+ i +"][0][price]' required/>" +
                "<br></div>";
            i++;

            document.getElementById('newDeliveryMethod').appendChild(div);

            if(i === 11){
                document.getElementById('addDeliveryMethod').disabled = true;
            }
        }

        var j;
        var j0 = 1;
        var j1 = 1;
        var j2 = 1;
        var j3 = 1;
        var j4 = 1;
        var j5 = 1;
        var j6 = 1;
        var j7 = 1;
        var j8 = 1;
        var j9 = 1;

        function addPackageMethod(id){
            var div = document.createElement("div");

            switch (id){
                case "0":
                    j = j0;
                    j0++;
                    break;
                case "1":
                    j = j1;
                    j1++;
                    break;
                case "2":
                    j = j2;
                    j2++;
                    break;
                case "3":
                    j = j3;
                    j3++;
                    break;
                case "4":
                    j = j4;
                    j4++;
                    break;
                case "5":
                    j = j5;
                    j5++;
                    break;
                case "6":
                    j = j6;
                    j6++;
                    break;
                case "7":
                    j = j7;
                    j7++;
                    break;
                case "8":
                    j = j8;
                    j8++;
                    break;
                case "9":
                    j = j9;
                    j9++;
                    break;
            }


            div.setAttribute("id","package"+j+"id"+id);
            div.innerHTML =
                "Metoda pakowania: <input name='deliveryMethod["+ id +"]["+j+"][method]' required/>" +
                "Cena: <input name='deliveryMethod["+ id +"]["+j+"][price]' required/>" +
                    "<button id='deletePackage' value='package"+j+"id"+id+"' type='button'>x</button>";
            document.getElementById('delivery'+id).appendChild(div);
        }

        function deletePackage(packageId) {
            document.getElementById(packageId).remove();
        }

        function deleteDelivery(deliveryId) {
            document.getElementById(deliveryId).remove();
        }
    </script>
{% endblock %}

