
Dodaj produkt:
<form id="addProductForm" action="{{ path('addproduct') }}" method="POST">
    Nazwa: <input type="text" name="_name"/><br>
    Opis: <input type="text" name="_description"/><br>
    Kategoria:  <select name="_category">
        <option value="T-Shirt">T-Shirt</option>
        <option value="Hoodie">Hoodie</option>
        <option value="Spódnica">Spódnica</option>
        <option value="Jeansy">Jeansy</option>
    </select><br>
    Cena: <input type="text" name="_price"/><br>
    Zdjęcie: <input type="text" name="_photo"/><br>
    Marka: <input type="text" name="_brand"/><br>
    Płeć: <select name="_sex">
        <option value="male">Męskie</option>
        <option value="female">Żeńskie</option>
        <option value="male/female">Męskie/Żeńskie</option>
    </select><br>
    Pochodzenie: <input type="text" name="_origin"/><br>
    Materiały: <input type="text" name="_materials"/><br>

    <button type="submit" >Dodaj</button>
</form>

