{% extends 'admin/index.html.twig' %}
{% block body %}

<div class="addProduct">
    Dodaj produkt:
    <div class="addProductProgress">
        <button class="stepButton" id="generalInfoButton"><div class="orderStep">Informacje ogólne ></div></button>
        <button class="stepButton" id="sizesButton" disabled><div class="orderStep">Dostępne rozmiary ></div></button>
        <button class="stepButton" id="colorsButton" disabled><div class="orderStep">Dostępne kolory ></div></button>
        <button class="stepButton" id="finishButton" disabled><div class="orderStep">Zamów </div></button>
    </div>
    <div id="progressWindow">
        <div class="progressStep" id="generalInfoStep" style="display: block;">
            <form id="addProductForm" method="GET">
                Nazwa: <input type="text" id="name" required/><br>
                Opis: <input type="text" id="description"/><br>
                Kategoria:  <select id="category">
                    <option value="T-Shirt">T-Shirt</option>
                    <option value="Hoodie">Hoodie</option>
                    <option value="Spódnica">Spódnica</option>
                    <option value="Jeansy">Jeansy</option>
                </select><br>
                Cena: <input type="text" id="price" required/><br>
                <p></p>
                Zdjęcie: <input type="text" id="photo"/><br>
                Marka: <input type="text" id="brand"/><br>
                Płeć: <select id="sex">
                    <option value="male">Męskie</option>
                    <option value="female">Żeńskie</option>
                    <option value="male/female">Męskie/Żeńskie</option>
                </select><br>
                Pochodzenie: <input type="text" id="origin"/><br>
                Materiały: <input type="text" id="materials"/><br>

                <button type="submit">Dodaj</button>
            </form>
        </div>
        <div class="progressStep" id="sizesStep"></div>
        <div class="progressStep" id="colorsStep"></div>
        <div class="progressStep" id="finishStep"></div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $("#addProductForm").submit(function (event) {
                event.preventDefault();
                postProductGeneralInfo();
                return false;
            });

            $(".stepButton").click(function(){
                showStep(this.id.replace("Button", "Step"));
                return false;
            });

            $('#progressWindow').on("change", ".addSize", function () {
                addSize();
            });


        });

        function addSize(){
            var size = document.getElementById('labelSizeXS');
            size.remove();

            var div = document.createElement("div");
            div.className = "cos";
            div.innerHTML = "Rozmiar 1:<input type='text'/> <br>" +
                "Rozmiar 2:<input type='text'/><br>" +
                "Rozmiar 3:<input type='text'/><br>";

            document.getElementById("setSizes").appendChild(div);
        }

        function postProductGeneralInfo(){
            var xhttp = new XMLHttpRequest();
            // Create some variables we need to send to our PHP file
            var name = document.getElementById("name").value;
            var description = document.getElementById("description").value;
            var category = document.getElementById("category").value;
            var price = document.getElementById("price").value;
            var photo = document.getElementById("photo").value;
            var brand = document.getElementById("brand").value;
            var sex = document.getElementById("sex").value;
            var origin = document.getElementById("origin").value;
            var materials = document.getElementById("materials").value;

            var btn = document.getElementById('sizesButton');

            if(!isNaN(price) && isFinite(price)){
                var url = "{{ path('setproductinfo',
                    {
                        'name': 'nameJS',
                        'description':'descriptionJS',
                        'category':'categoryJS',
                        'price':'priceJS',
                        'photo':'photoJS',
                        'brand':'brandJS',
                        'sex': "sexJS",
                        'origin':'originJS',
                        'materials':'materialsJS'
                    })
                }}";

                url = url.replace("nameJS", name);
                url = url.replace("descriptionJS", description);
                url = url.replace("categoryJS", category);
                url = url.replace("priceJS", price);
                url = url.replace("photoJS", photo);
                url = url.replace("brandJS", brand);
                url = url.replace("sexJS", sex);
                url = url.replace("originJS", origin);
                url = url.replace("materialsJS", materials);

                xhttp.onreadystatechange = function() {
                    if(xhttp.readyState == 4 && xhttp.status == 200) {
                        btn.disabled = false;
                        document.getElementById("sizesStep").innerHTML = xhttp.response;
                        document.getElementById("sizesStep").style.display = "block";
                        document.getElementById('generalInfoStep').style.display = "none";
                    }
                };
                xhttp.open("GET", url, false);
                xhttp.send();
            }else{
                document.getElementsByTagName('p')[0].innerHTML = 'podaj liczbę';
            }


        }

        function showStep(id){
            var step = document.getElementById(id);
            var steps = document.getElementsByClassName('progressStep');

            for(var i = 0; i<steps.length; i++){
                if(steps[i].style.display === "block"){
                    steps[i].style.display = "none";
                }
            }
            step.style.display = "block";
            return false;
        }
    </script>
{% endblock %}
