<form id="setSizes">
    Dodaj rozmiar:
    <label class="labl" id="labelSizeXS">
        <input class="addSize" type="radio" name="radioname" value="XS"/>
        <div>
            XS
        </div>
    </label>
    <button>S</button>
    <button>M</button>
    <button>L</button>
    <button>XL</button>
    <button>XXL</button>


</form>