<form id="setProductSizesForm" method="GET">
    Dodaj rozmiar:<br>
    <label class="labl" id="labelSizeXS" style="float:left">
        <input class="addSize" id="radioSizeXS" type="radio" name="radioname" value="XS"/>
        <div>
            XS
        </div>
    </label>
    <label class="labl" id="labelSizeS" style="float:left">
        <input class="addSize" id="radioSizeS" type="radio" name="radioname" value="S"/>
        <div>
            S
        </div>
    </label>
    <label class="labl" id="labelSizeM" style="float:left">
        <input class="addSize" id="radioSizeM" type="radio" name="radioname" value="M"/>
        <div>
            M
        </div>
    </label>
    <label class="labl" id="labelSizeL" style="float:left">
        <input class="addSize" id="radioSizeL" type="radio" name="radioname" value="L"/>
        <div>
            L
        </div>
    </label>
    <label class="labl" id="labelSizeXL" style="float:left">
        <input class="addSize" id="radioSizeXL" type="radio" name="radioname" value="XL"/>
        <div>
            XL
        </div>
    </label>
    <label class="labl" id="labelSizeXXL" style="float:left">
        <input class="addSize" id="radioSizeXXL" type="radio" name="radioname" value="XXL"/>
        <div>
            XXL
        </div>
    </label>
    <br><br>

    <div id="sizes"></div>

    <button type="submit">Dalej</button>
</form>