.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: auto;
    margin-top:100px;
    overflow: auto;
}

.modalBox{
    height: 100%;
}

/* The Close Button */
.close {
    color: #aaa;
    width:20px;
    font-size: 28px;
    font-weight: bold;
    float:right;
    margin-top: -10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.productInfo{
    height: 100%;
}

.leftSide{
    float:left;
    width:50%;
}

.mPrPhoto{
    margin:15px;
    position:relative;
    border:solid 1px black;
    width: auto;
    height: 100%;
}

.rightSide{
    float:left;
    width:50%;
}

.mPrTitle{
    margin:15px ;

}

.mPrBrand{
    width:50%;
}

.mPrOrigin{
    width:50%;
}

.labl {
    display : block;
    width: 20px;
}
.labl > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: #ffd6bb;
    border: 1px solid #ff6600;
}

.deliveryMethod {
    display : block;
    width: 60px;
}
.deliveryMethod > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.deliveryMethod > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.deliveryMethod > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: blue;
    border: 1px solid #ff6600;
}

.paymentMethod {
    display : block;
    width: 60px;
}
.paymentMethod > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.paymentMethod > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.paymentMethod > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: blue;
    border: 1px solid #ff6600;
}