html{
    margin:0px auto;

    max-width: 1200px;
}

.prContainer{
    margin-top: 50px;

}

.prContainer:hover,
.prContainer:focus {

    text-decoration: none;
    cursor: pointer;
}

.prWindow{
    padding:10px;
    width: 15%;
    margin-top:20px;
    margin-left: 17px;
    border:solid 1px black;
    border-radius: 5px;
    float:left;
    height: auto;
    min-width:185px;
}

.prPhoto{
    margin:8px 0 8px 0;
    position:relative;
    border:solid 1px black;
    width: auto;
    height: 150px;
}

.prPrice{
    float:left;
}

.prAddtoCartBtn{
    float:right;
}

.shopppingCart{
    display:none;
    position:relative;
    float:right;
    background-color: blue;
    width:200px;
}

.orderStep{
    width:100%;
    height: 40px;
    text-align: center;
    float:left;
}

.progressStep{
    display: none;
}



