{{ app.session.get('paymentMethod') }}
<br><br>
<input class="cartPaymentRadio" id="cardPaymentRadioAccepted" type="radio" name="cartPaymentRadio" value="0" />
Płatność kartą potwierdzona
<br>
<input class="cartPaymentRadio" id="cardPaymentRadioDenied" type="radio" name="cartPaymentRadio" value="1" />
Płatność kartą odrzucona

<button type="button" class="stepButtons" id="finalizeOrder">Submit Form!</button>