
<form id="setPaymentMethodForm" method="GET">
    <label for="paymentRadio0" id="paymentRadioLabel0" class="paymentMethod">
        <input class="paymentRadio" id="paymentRadio0" type="radio" name="paymentRadio" value="Płatność Kartą"/>
        <div id="paymentRadio">
            Płatność kartą
        </div>
        <div class="paymentOptions" id="paymentOptions0" style="display:none">
            <label style="width: 200px">
                <input class="paymentOptionsRadio" id="0" type="radio" name="paymentOptionsRadio" value="MasterCard"/> MasterCard <br>
            </label>
            <label style="width: 200px">
                <input class="paymentOptionsRadio" id="1" type="radio" name="paymentOptionsRadio" value="Visa"/> Visa <br>
            </label>
        </div>
    </label>
    <button type="submit">Submit Form!</button>
</form>